{% extends 'layout.html.twig' %}
{% block stylesheet %}
<link rel="stylesheet" href="/assets/css/changeportfolio.css" />


{% endblock %}

{% block content  %}


<h1> Modifier vos creations</h1>

{% include 'tetraDigital/navadmin.html.twig' %}
{% for data in portfolio %}




<form method="post" class="modifiCreation">
<label>non de l'image</label>
<input class="form-control form-control-lg" type="text" name="namepicture"  value="{{data.link}}">
<input class="form-control form-control-lg" type="HIDDEN" name="id" value="{{data.id}}">

<div class="form-group">
<label>catégories</label>
<select class="form-control" id="exampleFormControlSelect1" name="listecategories">
<option selected value="{{data.id_categories}}">{{data.namecategories}}</option>
<option value="2">refonte</option>
<option value="1">vitrine</option>

<option value="3">e-commerce</option>

<option value="4">gestion de stock</option>
</select>
</div>

<div class="form-group">
<label for="exampleFormControlTextarea1">commentaire</label>
<textarea class="form-control" id="exampleFormControlTextarea1" rows="3" name="details">{{data.description}}</textarea>
</div>
<input type="submit" value="valider" name="validation">
</form>


{% endfor%}


{% endblock  %}
